// Importing variables
@import "../variables.scss";

.article-container {
  margin-top: 5rem;

  #article-title {
    font-size: 2.5rem;
    margin-bottom: 6rem;
  }
  .content {
    white-space: pre-line;
  }
}
