// Importing variables
@import "../variables.scss";

.articles {
  margin-top: 1.7rem;
  .article-row {
    article {
      padding-top: 1rem;
      padding-bottom: 1rem;
      time {
        font-weight: 500;
      }
      .read-more {
        display: inline-block;
        margin-top: 1rem;
        color: $secondary-color;
        font-weight: 600;
      }
    }
  }
}
