// Importing variables
@import "../variables.scss";

.article-container {
  padding-top: 5rem;

  .article-header {
    margin-bottom: 6rem;

    .article-title {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }
  .content {
    white-space: pre-line;
  }
}
