// Importing variables
@import "../variables.scss";
@import "~bulma/bulma.sass";

// Import mixins
@import "bulma/sass/utilities/mixins";

.top-header {
  display: flex;
  justify-content: center;

  .underline-link {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    padding-right: 0.8rem;
    padding-left: 0.8rem;

    border-radius: $button-hover-border-radius;

    -moz-transition: background 0.2s ease-in;
    -o-transition: background 0.2s ease-in;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;

    @include mobile {
      text-align: center;
    }

    a {
      color: #fff;
      @include mobile {
        font-size: 0.8rem;
      }
    }
  }

  .underline-link:hover {
    cursor: pointer;
    color: #fff;
    background: $secondary-color;
  }
}

.mobile-nav-bar {
  @include mobile {
    display: block !important;
  }

  display: none !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  .site-title {
    font-weight: 800;
  }
}

.wide-nav-bar {
  @include mobile {
    display: none;
  }
}

.header {
  .banner {
    .title {
      color: $white;
      font-size: 3.5rem;

      @include tablet {
        font-size: 3rem;
      }
    }

    .icon.logo {
      width: 10rem;
      height: 10rem;

      :hover {
        animation: shake 250ms;
        animation-timing-function: linear;
      }

      @keyframes shake {
        0% {
          transform: rotate(0.5deg);
        }
        50% {
          transform: rotate(-20deg);
        }
        100% {
          transform: rotate(0.5deg);
        }
      }
      @include tablet {
        width: 8rem;
        height: 8rem;
      }
    }
  }

  .exchanges {
    display: none !important;
    img {
      height: 60%;
      width: 60%;
    }
  }
  .buying-options {
    justify-content: center;

    button {
      font-weight: 600;
      text-transform: uppercase;
      background: transparent;
      border-color: $white;
      color: $white;
      border-width: 0.13rem;
      @include mobile {
        margin-top: 1rem;
        margin-right: 0rem;
      }
    }

    a {
      -moz-transition: background 0.2s ease-in;
      -o-transition: background 0.2s ease-in;
      -webkit-transition: background 0.2s ease-in;
      transition: background 0.2s ease-in;
    }
    a:hover {
      background: $secondary-color;
    }
  }
}

.heroBg {
  display: flex;
  background: $hero-color;
}
