// Importing variables
@import "./variables.scss";

// Importing Bulma from node_modules
@import "~bulma/bulma.sass";
@import "bulma/sass/utilities/mixins";

@import "./footer/footer.scss";
@import "./header/header.scss";
@import "./elements/links.scss";

.root {
  background: $background-color;
  @include mobile {
    position: relative;
  }
}

main {
  min-height: 140vh;
  .section {
    padding: 1rem 1.5rem;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline-link a {
  color: $white;
  font-weight: 800;
}

.button.is-small {
  font-weight: $button-small-font-weight;
}

.site-nav {
  margin-bottom: 2rem;
  a {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #7b7474;
    border-radius: 2.4rem;
    background: #ddd;
  }
  a:hover {
    background: $secondary-color;
    color: $white;
  }
  a.active {
    background: $secondary-color;
    color: $white;
    font-weight: bold;
  }
}

.school {
  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 1.25rem;
  }
}

.courses-list {
  ul {
    list-style-type: none;
    li {
      margin-right: 2rem;
      float: left;
    }
  }
  .course-item {
    display: inline-block;
  }
}

.course-page {
  .title {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .menu-container {
    text-align: end;
    background-color: #f7f7f7;
  }
}

.course-menu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 1.5rem;
  p {
    color: #7a7a7a;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
}

.course-menu li a {
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
