// Importing variables
@import "./variables.scss";

// Importing Bulma from node_modules
@import "~bulma/bulma.sass";
@import "bulma/sass/utilities/mixins";

@import "./footer/footer.scss";
@import "./header/header.scss";
@import "./elements/links.scss";

.root {
  background: $background-color;
  @include mobile {
    position: relative;
  }
}

main {
  min-height: 140vh;
  .section {
    padding: 1rem 1.5rem;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline-link a {
  color: $white;
  font-weight: 800;
}

.button.is-small {
  font-weight: $button-small-font-weight;
}

.site-nav {
  margin-bottom: 2rem;
  a {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #7b7474;
    border-radius: 2.4rem;
    background: #ddd;
  }
}
