// Importing variables
@import "./variables.scss";

// Importing Bulma from node_modules
@import "~bulma/bulma.sass";

.header .title {
  color: #ffffff;
  font-size: 3.5rem;
}

.heroBg {
  display: flex;
  background: #131212;
}

.hero-body .subtitle {
  color: #7a7a7a;
}

.icon.logo {
  width: 10rem;
  height: 10rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-list {
  list-style: none;
}

.links-list > li {
  margin-bottom: 1rem;
}

.menu-section {
  margin-top: 1rem;
}

.menu-label {
  font-size: 0.93em;
  font-weight: 700;
}

.top-header {
  display: flex;

  .underline-link {
    margin-right: 1rem;
  }
}

.underline-link a {
  color: #ffffff;
  font-weight: 800;
}

.underline-link {
  display: inline-block;
}

.line {
  height: 3px;
  background-color: #00ba9d;
}

.footer {
  background: #fafafa;

  .footer-hero {
    h1 {
      font-weight: 200;
      font-size: 3rem;
    }
    p {
      color: #00ba9d;
      font-weight: 700;
      font-size: 3rem;
    }
  }

  .footer-heading {
    color: #656262;
  }

  a:hover {
    color: $secondary-color;
  }

  .underline-link a {
    color: #ead47e;
    font-weight: 800;
  }
}

.footer-list {
  li {
    margin-bottom: 0.5rem;
  }
  li a {
    color: #e4c033;
    font-weight: 600;
    letter-spacing: 0.13rem;
  }
}
