// Importing variables
@import "../variables.scss";
// Importing Bulma from node_modules
@import "~bulma/bulma.sass";
// Import mixins
@import "bulma/sass/utilities/mixins";

.footer {
  background: $footer-background-color;
}

.footer-mobile {
  display: none;
  @include mobile {
    display: block;
  }
}

.footer-wide {
  @include mobile {
    display: none;
  }

  .columns {
    display: flex;
  }

  .footer-hero {
    h1 {
      font-weight: 200;
      font-size: 3rem;
    }
    p {
      color: $secondary-color;
      font-weight: 700;
      font-size: 3rem;

      @include tablet {
        text-align: center;
        font-size: 2rem;
      }
    }
  }

  .footer-heading {
    color: #656262;
  }

  a:hover {
    color: $secondary-color;
  }

  .underline-link a {
    color: #ead47e;
    font-weight: 800;
  }

  .footer-list {
    li {
      margin-bottom: 0.8rem;
    }
    li a {
      border-radius: $button-hover-border-radius;
      padding: 0.6rem;
      color: #e4c033;
      font-weight: 600;
      letter-spacing: 0.13rem;

      -moz-transition: background 0.2s ease-in;
      -o-transition: background 0.2s ease-in;
      -webkit-transition: background 0.2s ease-in;
      transition: background 0.2s ease-in;
    }
    a:hover {
      color: #fff;
      font-weight: 700;
      background: #e4c033;
    }
  }
}
