// Importing variables
@import "../variables.scss";
// Importing Bulma from node_modules
@import "~bulma/bulma.sass";

.links-list {
  list-style: none;
}

.links-list > li {
  width: 20rem;
  cursor: pointer;
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
