// Importing variables
@import "./components/variables.scss";

// Importing Bulma from node_modules
@import "~bulma/bulma.sass";
@import "./components/base.scss";
@import "bulma/sass/utilities/mixins";
@import "./components/footer/footer.scss";
@import "./components/header/header.scss";

.root {
  background: $background-color;
  @include mobile {
    position: relative;
  }
}

main {
  min-height: $content-min-height;
  .section {
    padding: 1rem 1.5rem;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline-link a {
  color: $white;
  font-weight: 800;
}

.button.is-small {
  font-weight: $button-small-font-weight;
}

.site-nav {
  margin-bottom: 2rem;
  a {
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #7b7474;
    border-radius: 2.4rem;
    background: #ddd;
  }
  a:hover {
    background: $secondary-color;
    color: $white;
  }
  a.active {
    background: $secondary-color;
    color: $white;
    font-weight: bold;
  }
}

//////////////////////////////////////////////////////////////////////////////
//                            F.A.Q STYLES
//////////////////////////////////////////////////////////////////////////////

.faq {
  min-height: $content-min-height;

  .content-container {
    .content {
      h2 {
        margin-bottom: 2rem;
      }

      blockquote {
        margin-bottom: 3rem;
        margin-top: 3rem;
        margin-left: -2rem;
        margin-right: -2rem;
        border-left: 7px solid $secondary-color;
        background: #1a8bcc57;
        padding: 1.3em 1.7em;

        p {
          font-weight: bold;
        }
      }

      p {
        // text-align: justify;
        font-size: $faq-font-size;
        line-height: $faq-line-height;
      }
    }
  }

  .hero {
    .subtitle {
      font-weight: 100;
      margin-bottom: 3rem;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
//                            SCHOOL STYLES
//////////////////////////////////////////////////////////////////////////////
.school {
  min-height: $content-min-height;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.courses-list {
  display: inline-flex;
  list-style-type: none;
  li {
    margin-right: 2rem;
    float: left;
    .course-item {
      display: inline-block;
    }
  }
}

.course-page {
  min-height: $content-min-height;
  .title {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

.course-title {
  background: #f1f2f2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 200;
  border-bottom: 1px solid #dedededd;
}

//////////////////////////////////////////////////////////////////////////////
//                            HOME STYLES
//////////////////////////////////////////////////////////////////////////////

.home {
  padding-top: 3rem;
  padding-bottom: 7rem;
}

.see-more-btn {
  margin-left: 1rem;
}

.videos-tile {
  margin-bottom: 3rem;
}

.tile-title {
  display: inline-block;
  color: #363636;
  font-size: 1.7rem;
  font-weight: bold;
}

.tile-subtitle {
  font-weight: 100;
  color: $subtitle-color;
}

.videos-list {
  margin-top: 2.5rem;
  display: flex;
  li {
    margin-right: 2rem;
  }
}

.initiaves-container {
  .initiatives {
    margin-top: 1.7rem;

    li {
      width: 60%;
      margin-bottom: 1rem;
      display: inline-block;

      p {
        color: $subtitle-color;
      }
      a {
        color: $title-color;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
//                            VIDEOS STYLES
//////////////////////////////////////////////////////////////////////////////

.videos-page {
  padding-top: 3.5rem;
  padding-bottom: 5rem;

  .videos-page-list {
    .video-container {
      margin-top: 0.5rem;
      padding: 0;
    }

    .video-title {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }

    li {
      float: left;
      margin-right: 2rem;
    }
  }
}

.clear {
  clear: both;
}
